In [3]:
import pandas as pd

In [6]:
names = ['Ayan','Matiz']
namess = ['Chepak','ChepChep']
df1 = pd.DataFrame(names)
df2 = pd.DataFrame(namess)
print(pd.concat([df1,df2]))

          0
0      Ayan
1     Matiz
0    Chepak
1  ChepChep

In [7]:
print(list(zip(names,namess)))

[('Ayan', 'Chepak'), ('Matiz', 'ChepChep')]

In [31]:
dictio = {'names':['nurik','ada','dadda'], 'action' : ['zaeebal tak stoyat','1','2']}
df = pd.DataFrame(dictio)

In [25]:
print(df['names'][2])
df.head()

dadda

   names              action
0  nurik  zaeebal tak stoyat
1    ada                   1
2  dadda                   2

In [28]:
df3 = pd.DataFrame()
print(df3)

Empty DataFrame
Columns: []
Index: []